.flash-notice {
  width: 100%;
  ehight: 40px;
  background-color: green;
}
.flahs-alert {
  width: 100%;
  ehight: 40px;
  background-color: red;
}

label {
  display: inline-block;
  min-width: 75px;
}
